.service{
	border: 1px solid #c0c0c0;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 30px;
	transition: all 0.3s;
	position: relative;
	padding: 5px 5px;
	font-family: Microsoft YaHei;
	text-align:center;
	display: inline-block;
	}
	div#P_div1 span{
		text-align:-webkit-auto;
	}
	.service:hover{
	border-color: #c59a6d;
	margin-top: 0px;
	margin-bottom: 0px;
	cursor: pointer;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Microsoft YaHei;
	}

	#P_div1 a{
	text-decoration:none;
	color:#167ac6;
	font-weight: 600;
	font-family:sans-serif; 
	font-size:15px;
	}
	#v_watchtimes{
	font-weight: 550;
	font-family:Microsoft JhengHei; 
	font-size:12px;
	}