@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);


a {color: #666666}

a:hover,
a:focus{
	color: #c59a6d;
	text-decoration: none;
}

.service{
	border: 1px solid #666666;
	margin-top: 20px;
	margin-bottom: 0px;
	transition: all 0.3s;
	position: relative;
	padding: 60px 25px;
	font-family: Microsoft JhengHei;
	text-align:center;
}
.service:hover>h4,
.service:hover>span.fa{
	color: #c59a6d;
}
.service:hover{
	border-color: #c59a6d;
	margin-top: 0px;
	margin-bottom: 0px;
	cursor: pointer;
	padding-top: 80px;
	padding-bottom: 80px;
}
.service p{
	font-size: 14px;
	padding-top: 20px;
	font-family: 'Lato', sans-serif;
}
